
/*fix for ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*selected link, filter*/
.active-link {
    background-color : yellow;
    border: 1px solid brown;
}

.login-register {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 15px;
}

.login-register a {
    margin-top: 10px;
}

img {
    width: 150px;
}

.form-title {
    padding-bottom:5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.form-title h3 {
    margin:0;
}

.invisible-element {
    visibility: hidden;
}