body {
    /*background-color: #2D2D2D;*/
}

/*fix for ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*selected link, filter*/
.active-link {
    background-color : yellow;
    border: 1px solid brown;
}

.login-register {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 15px;
}

.login-register a {
    margin-top: 10px;
}

.picture-frame {
    padding: 25px;
}

.picture-frame img {
    width: 100%;
}

.form-title {
    padding-bottom:5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.form-title h3 {
    margin:0;
}

.invisible-element {
    visibility: hidden;
}

header h3 {
    margin: 0;
}

.error-message {
    color: red;
}
input.ng-dirty.ng-invalid {
    border-color: red;
}

.borderAll {
    border: 1px solid black;
}

.my-form-control {
    height: auto;
}

.right-border {
    border-right: inherit;
}

.box {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    padding: 10px;
}

.image-box {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 170px;
    height: 170px;
}

.image-box img {
    width: 100%;
    height: 100%;

}