<div class="col-md-6 col-md-offset-3">
	<form name="userLoginForm" data-ng-onsubmit>
		<h3>Login</h3>
		<label for="username">Username:</label>
		<input type="text" id="username" ng-model="user.name"/>
		<label for="password">Username:</label>
		<input type="password" id="password" ng-model="user.password"/>
		<div class="row">
			<input type="submit" value="Login" class="btn col-md-5"/>
			<input type="button" value="Register here" class="btn-link col-md-5 col-md-offset-2"/>
		</div>
	</form>
</div>