<div>
	To publish a new ad, please login
	<a ui-sref="login">Login</a>
	<a ui-sref="register">Register</a>
</div>
<div>
	<div data-ng-repeat="ad in ads">
		<h3>{{ad.title}}</h3>{{ad.date | date:'d-MMM-yyyy'}}
		<div>
			<img data-ng-src="{{ad.imageDataUrl}}" src="" alt=""/>
		</div>
		<div>
			<textarea >{{ad.text}}</textarea><br/>
			Name: <input type="text" data-ng-model="ad.ownerName"/> <br/>
			Email: <input type="text" data-ng-model="ad.ownerEmail"/> <br/>
			Tel.: <input type="text" data-ng-model="ad.ownerPhone"/> <br/>
		</div>
	</div>
</div>
<div>
	<div>
		<h3>Categories</h3>
		<ul>
			<li>All</li>
			<li data-ng-repeat="category in categories"><a {{category.name}}</li>
		</ul>
	</div>
	<div>
		<h3>Towns</h3>
		<ul>
			<li>All</li>
			<li data-ng-repeat="town in towns">{{town.name}}</li>
		</ul>
	</div>
</div>
