<div>
	To publish a new ad, please login
	<a ui-sref="login">Login</a>
	<a ui-sref="register">Register</a>
</div>
{{townId}} --- {{categoryId}}
<div>
	<div data-ng-repeat="ad in ads">
		<h3>{{ad.title}}</h3>{{ad.date | date:'d-MMM-yyyy'}}
		<div>
			<img data-ng-src="{{ad.imageDataUrl}}" src="" alt=""/>
		</div>
		<div>
			<textarea>{{ad.text}}</textarea><br/>
			Name: <input type="text" data-ng-model="ad.ownerName"/> <br/>
			Email: <input type="text" data-ng-model="ad.ownerEmail"/> <br/>
			Tel.: <input type="text" data-ng-model="ad.ownerPhone"/> <br/>
		</div>
	</div>
</div>
<div>
	<div data-accordion close-others="accordionStatus.showOneItem">
		<div data-accordion-group is-open="accordionStatus.categoryIsOpen">
			<span data-accordion-heading>
				Categories <i class="pull-right glyphicon"
							  ng-class="{'glyphicon-chevron-down': accordionStatus.categoryIsOpen, 'glyphicon-chevron-right': !accordionStatus.categoryIsOpen}"></i>
			</span>

			<div>
				<button data-ng-click="clickCategoryHandler(null)" type="button" class="btn btn-link">All</button>
			</div>
			<div data-ng-repeat="category in categories">
				<button data-ng-click="clickCategoryHandler(category.id)" type="button" class="btn btn-link">
					{{category.name}} ({{category.id}})
				</button>
			</div>
		</div>
		<div data-accordion-group is-open="accordionStatus.townIsOpen">
			<span data-accordion-heading>
				Towns <i class="pull-right glyphicon"
						 ng-class="{'glyphicon-chevron-down': accordionStatus.townIsOpen, 'glyphicon-chevron-right': !accordionStatus.townIsOpen}"></i>
			</span>

			<!--<div>-->
				<!--<button data-ng-click="clickTownHandler(null)" type="button" class="btn btn-link">All</button>-->
			<!--</div>-->
			<div data-ng-repeat="town in towns">
				<button data-ng-click="clickTownHandler(town.id)" type="button" class="btn btn-link">{{town.name}}
					({{town.id}})
				</button>
			</div>
		</div>
	</div>

	<!--<div>-->
	<!--<h3>Categories</h3>-->
	<!--<ul>-->
	<!--<li><a data-ng-click="clickCategoryHandler(null)" href="">All</a></li>-->
	<!--<li data-ng-repeat="category in categories">-->
	<!--<a data-ng-click="clickCategoryHandler(category.id)" href="">{{category.name}} ({{category.id}})</a>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</div>-->
	<!--<div>-->
	<!--<h3>Towns</h3>-->
	<!--<ul>-->
	<!--<li><a data-ng-click="clickTownHandler(null)" href="">All</a></li>-->
	<!--<li data-ng-repeat="town in towns">-->
	<!--<a data-ng-click="clickTownHandler(town.id)" href="">{{town.name}} ({{town.id}})</a>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</div>-->
</div>
<div>
	<!--<a href="" data-ng-repeat=""></a>-->
</div>
