<div class="col-md-9 col-md-offset-1">
	<form class="form-horizontal well" name="deleteForm">
		<fieldset>
			<div class="col-sm-12 form-title">
				<h3 class="text-center">Confirm Deleting Ad?</h3>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-9"><h4>{{ad.title}}</h4></div>
					<span class="col-md-3 text-right">{{ad.date | date:'d-MMM-yyyy'}}</span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-sm-12 ">
						<div class="form-control my-form-control" data-ng-bind="ad.text"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="image-box img-thumbnail form-control my-form-control">
						<img data-ng-src="{{ad.imageDataUrl}}" src="img/noimage.png" alt=""/>
					</div>
				</div>
				<div class="form-group col-md-9">
					<div class="form-group">
						<label for="categoryName" class="col-sm-3 control-label ">Category:</label>

						<div class="col-sm-9">
							<span class="form-control" data-ng-bind="ad.categoryName" id="categoryName"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="townName" class="col-sm-3 control-label ">Town:</label>

						<div class="col-sm-9">
							<span class="form-control" data-ng-bind="ad.townName" id="townName"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="ownerUsername" class="col-sm-3 control-label ">Username:</label>

						<div class="col-sm-9">
							<span class="form-control" data-ng-bind="ad.ownerUsername" id="ownerUsername"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="ownerName" class="col-sm-3 control-label ">Name:</label>

						<div class="col-sm-9">
							<span class="form-control" data-ng-bind="ad.ownerName" id="ownerName"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="ownerEmail" class="col-sm-3 control-label ">Email:</label>

						<div class="col-sm-9">
							<a class="form-control" href="mailto://{{ad.ownerEmail}}"
							   id="ownerEmail">{{ad.ownerEmail}}</a>
						</div>
					</div>
					<div class="form-group">
						<label for="ownerPhone" class="col-sm-3 control-label">Tel:</label>

						<div class="col-sm-9">
							<span class="form-control" data-ng-bind="ad.ownerPhone" id="ownerPhone"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<a ng-click="deleteAd(ad)" class="btn btn-primary col-md-3 col-md-offset-3">Delete</a>
				<a ui-sref="adminHome" class="btn btn-default col-md-3 col-md-offset-1">Cancel</a>
			</div>
		</fieldset>
	</form>
</div>