<div class="col-md-9">
	<div class="form-horizontal">Admin
		<div data-ng-repeat="ad in ads"
			 class="col-md-12 form-group form-control my-form-control well">
			<div class="row">
				<div class="col-md-9"><h4>{{ad.title}}</h4></div>
				<span class="col-md-3 text-right">{{ad.date | date:'d-MMM-yyyy'}}</span>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="image-box form-control my-form-control">
						<img data-ng-src="{{ad.imageDataUrl}}" src="img/noimage.png" alt=""/>
					</div>
					<p class="text-center">
					<label for="ad-status" >Status:</label>
					<span class="form-control status-box" data-ng-bind="ad.status" id="ad-status"></span>
				</p>
				</div>
				<div class="col-md-8">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-12 ">
								<div class="form-control my-form-control" data-ng-bind="ad.text"></div>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label for="ownerUsername" class="col-sm-3 control-label ">Username:</label>

							<div class="col-sm-9">
								<span class="form-control" data-ng-bind="ad.ownerUsername" id="ownerUsername"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="ownerName" class="col-sm-3 control-label ">Name:</label>

							<div class="col-sm-9">
								<span class="form-control" data-ng-bind="ad.ownerName" id="ownerName"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="ownerEmail" class="col-sm-3 control-label ">Email:</label>

							<div class="col-sm-9">
								<a class="form-control" href="mailto://{{ad.ownerEmail}}"
								   id="ownerEmail">{{ad.ownerEmail}}</a>
							</div>
						</div>
						<div class="form-group">
							<label for="ownerPhone" class="col-sm-3 control-label">Tel:</label>

							<div class="col-sm-9">
								<span class="form-control" data-ng-bind="ad.ownerPhone" id="ownerPhone"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="categoryName" class="col-sm-3 control-label ">Category:</label>

							<div class="col-sm-9">
								<span class="form-control" data-ng-bind="ad.categoryName" id="categoryName"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="townName" class="col-sm-3 control-label ">Town:</label>

							<div class="col-sm-9">
								<span class="form-control" data-ng-bind="ad.townName" id="townName"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-sm-12">
					<input type="button" class="btn btn-default col-sm-3" value="Approve" ng-click="approveAd(ad)"/>
					<input type="button" class="btn btn-default col-sm-3" value="Reject" ng-click="rejectAd(ad)"/>
					<input type="button" class="btn btn-default col-sm-3" value="Edit" ng-click=""/>
					<input type="button" class="btn btn-default col-sm-3" value="Delete" ui-sref="adminDeleteAd({ id: ad.id })"/>
					<!--<div class="col-sm-3 ">-->
						<!--<input type="button" class="btn btn-default col-sm-3" value="Approve"/>-->
					<!--</div>-->
					<!--<div class="col-sm-3 ">-->
						<!--<a ui-sref="register" class="btn btn-default form-control ">Register</a>-->
					<!--</div>-->
				</div>
		</div>

		<div class="text-center">
			<pagination total-items="selections.totalAds" ng-model="selections.startPage" max-size="5"
						items-per-page="selections.pageSize" class="pagination-sm"
						boundary-links="true" rotate="true" num-pages="numPages"
						ng-change="pageChanged()"></pagination>
		</div>

	</div>
</div>
<div class="col-md-3" data-ng-controller="UserRightMenuController">
	<div data-accordion data-close-others="accordionStatus.showOneItem">
		<div data-accordion-group data-is-open="accordionStatus.categoryIsOpen">
			<span data-accordion-heading>
				Categories <i class="pull-right glyphicon"
							  ng-class="{'glyphicon-chevron-down': accordionStatus.categoryIsOpen, 'glyphicon-chevron-right': !accordionStatus.categoryIsOpen}"></i>
			</span>
			<a href="" class="btn btn-block" data-ng-repeat="category in categories.data"
			   data-ng-class="{'active-link' : categories.selected==category }"
			   data-ng-click="categories.selected = category;  clickCategoryHandler(category.id)">
				{{category.name}} <!-- {{category.id}})-->
			</a>
		</div>
		<div data-accordion-group data-is-open="accordionStatus.townIsOpen">
			<span data-accordion-heading>
				Towns <i class="pull-right glyphicon"
						 ng-class="{'glyphicon-chevron-down': accordionStatus.townIsOpen, 'glyphicon-chevron-right': !accordionStatus.townIsOpen}"></i>
			</span>
			<a href="" class="btn btn-block" data-ng-repeat="town in towns.data | orderBy: 'name' "
			   data-ng-class="{'active-link' : towns.selected==town }"
			   data-ng-click="towns.selected = town;  clickTownHandler(town.id)">
				{{town.name}}
			</a>
		</div>
	</div>
</div>

<!--| filter:{categoryId: categoryId}:isCategoryFilterStrict | filter : {townId : townId}:isTownFilterStrict-->