<div class="col-md-10 col-md-offset-1 ">
	<form class="form-horizontal ">
		<div class=" row box">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="ads-title" class="col-sm-2 control-label">Title:</label>

					<div class="col-sm-10">
						<input type="text" class="form-control" id="ads-title" name="ads-title" data-ng-model="ad.title"
							   data-ng-required/>
					</div>

				</div>
				<div class="form-group">
					<label for="ads-text" class="col-sm-2 control-label">Text:</label>

					<div class="col-sm-10">
						<textarea class="form-control" name="ads-text" id="ads-text" rows="4" data-ng-model="ad.text"
								  data-ng-required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-image" class="col-sm-2 control-label">Image:</label>

					<div class="col-sm-2">
						<input type="file" id="ads-image" class=" btn "
							   onchange="angular.element(this).scope().fileSelected(this)"/>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-category" class="col-sm-2 control-label">Category:</label>
					<select data-ng-options="category.id as category.name for category in categories" name="category"
							id="ads-category"
							class="col-sm-10 form-control " data-ng-model="ad.category">
						<option value="">Select category</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ads-town" class="col-sm-2 control-label">Town:</label>
					<select data-ng-options="town.id as town.name for town in towns" name="ads-town"
							id="ads-town"
							class="col-sm-8 form-control" data-ng-model="ad.town">
						<option value="">Select town</option>
					</select>
				</div>
			</div>

			<div class="col-sm-4 text-center" data-ng-show="true">
				<div class="group-form">
					<div class="form-control my-form-control image-box col-sm-12">
						<!--<p></p>-->
					</div>
				</div>
				<div class="form-group col-sm-12 col-sm-offset-1">
					<button class="btn btn-block btn-default">Change image</button>
					<button class="btn btn-block btn-default">Delete image</button>
				</div>
			</div>
		</div>
	</form>
</div>