<div class="col-md-11 col-md-offset-1 ">
	<form class="form-horizontal well">
		<fieldset>
			<!--<div class="col-sm-12 form-title">-->
			<!--<h3 class="text-center">Publish New Ad</h3>-->
			<!--</div>-->
			<legend class="text-center">Publish New Ad</legend>
			<div class="col-sm-8">

				<div class="form-group">
					<label for="ads-title" class="col-sm-2 control-label">Title:</label>

					<div class="col-sm-10">
						<input type="text" class="form-control input-md" id="ads-title" name="ads-title"
							   data-ng-model="ad.title" placeholder="Enter title for ad..."
							   data-ng-required/>
						<span class="help-block">help</span>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-text" class="col-sm-2 control-label">Text:</label>

					<div class="col-sm-10">
						<textarea class="form-control" name="ads-text" id="ads-text" rows="4" data-ng-model="ad.text"
								  placeholder="Some information..." data-ng-required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-image" class="col-sm-2 control-label">Image:</label>

					<div class="col-sm-10">
						<input type="file" id="ads-image" class="input-file"
							   onchange="angular.element(this).scope().fileSelected(this)"/>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-category" class="col-sm-2 control-label">Category:</label>

					<div class="col-sm-10">
						<select data-ng-options="category.id as category.name for category in categories"
								name="category"
								id="ads-category"
								class="form-control " data-ng-model="ad.category">
							<option value="">Select category</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="ads-town" class="col-sm-2 control-label">Town:</label>

					<div class="col-sm-10">
						<select data-ng-options="town.id as town.name for town in towns" name="ads-town"
								id="ads-town"
								class="form-control" data-ng-model="ad.town">
							<option value="">Select town</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-sm-4 text-center" data-ng-show="true">
				<div class="group-form">
					<div class="image-box col-sm-12"></div>
				</div>
			</div>
			<div class="form-group col-sm-12 col-sm-offset-1 text-center">
				<a ng-click="publishAd(ad)" class="btn btn-primary">Publish</a>
				<a ui-sref="userHome" class="btn btn-default">Cancel</a>
			</div>
		</fieldset>
	</form>
</div>
